body {
  width: 100%;
  text-align: center;
}

h1 {
  margin: 2rem 0 0 0;
}


header {
  width: 100%;
}

main {
  width: 100%;
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.todo-create {
  width: 20rem;
  height: 1.7rem;
  background: #edebeb;
  border: 1.4px solid #000;
  border-radius: 5px;
  padding-left: 10px;
}

.todo-create::placeholder {
  text-align: center;
  font-weight: bold;
}

.todo-create:focus {
  outline: 1px #000;
}

.todo-check {
  transform: scale(1.3);
  margin-top: 0.8rem;
  margin-right: 1rem;
}

button {
  height: 2rem;
  width: 3.3rem;
  background-color: #edebeb;
  border-radius: 5px;
  border: 1.4px solid #000;
  color: gray;
  font-weight: bold;
  margin-left: 0.5rem;
}

button:hover {
  background-color: #a7a9aa;
  color: #000;
}

.delete {
  border: 1.4px solid #ED1A3D;
}

.delete:hover {
  background-color: #D41736;
  border: 1.4px solid #D41736;
  opacity: 0.9;
}

#js-todo-create-form {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
  border-bottom: 1px solid gray;
}

footer {
  margin-top: 3rem;
  font-weight: bold;
}

ul {
  width: 80%;
  padding-top: 1.5rem;
  list-style: none;
  margin: 0;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.todo-title {
  border: none;
  text-align: left;
  padding-left: 1rem;
  margin-right: 1rem;
  width: 18rem;
  border-bottom: 1px solid gray;
}

.todo-title.complete {
  text-decoration: line-through;
}

.todo-controle {
  width:150px;
  display: flex;
}

.todo-title-edit {
  line-height: 24px;
  padding: 0;
  margin-left: 2rem;
  font-size: 1rem;
  background: #ccc;
  border: none;
  text-align: left;
  padding-left: 1rem;
  margin-right: 1rem;
  width: 18rem;
  border-bottom: 1px solid #65BBE9;
}

.todo-title-edit:focus {
  font-size: 1rem;
  border: none;
  outline: none;
  background: #ccc;
  border-bottom: 1px solid #65BBE9;
}

.todo-edit-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}