@charset "UTF-8";
/*iPhon用*/

.body {
  width: 100%;
}

.container {
  font-family: "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif, "Segoe UI Emoji";
  color: #000000d1;
  display: grid;
  grid-template-columns: 100%;
}

.container p {
  font-size: 16px;
}

.header {
  width: 100%;
  height: 62px;
}

.header_container {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px auto;
  border-bottom: 1px solid #5c93bb2b;
}

.header .logo {
  width: 94px;
  height: 22px;
}

header nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

header nav ul li button {
  margin-left: 30px;
  color: #fff;
  background-color: #3ea8ff;
  border: none;
  border-radius: 7px;
}

.btn_login {
  width: 80px;
  height: 36px;
  font-size: 15px;
}

main {
  width: 100%;
  background-color: #fff;
  padding-bottom: 4em;
}

.account_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
}

a {
  color: #000;
  text-decoration: none;
}

.account img {
  width: 36px;
  height: 36px;
  border-radius: 50px;
}


.topic_btn {
  background-color: inherit;
  font-size: 14.5px;
  color: #65717B;
  border: none;
  display: inline-flex;
  align-items: center;
}